body, html {
    margin: 0;
}
.categories {
    display: flex;
    flex-wrap: wrap;
}
.container-dishes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}